* {
  font-family: Roboto;
}

.App {
  width: 100vw;
  text-align: center;
}

.App h3 {
  text-align: center;
}

.App-logo {
  max-height: 20vmin;
  pointer-events: none;
}

.App-header {
  padding: 2em;
  background-color: #282c34;
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.naviClass {
  background-color: #2e2e2e;
  padding: 0.5em;
  text-align: center;
}

.naviClass a {
  margin: 0px 4px;
  border-radius: 15px;
  text-decoration: none;
  padding: 5px 15px;
  font-weight: bold;
  color: #ffa4d6;
}

.naviClass a:hover {
  color: rgba(255, 71, 172, 0.603);
}

.posts {
  padding: 20px;
}

.newPost {
  padding: 20px;
  background-color: teal;
}

.newPost form {
  text-align: center;
}

.newPost h2 {
  text-align: center;
}

.allPosts,
.newPost,
.Home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 3vh 3vw;
  padding: 1em;
}

.allPosts input,
.newPost input,
.Home input {
  width: 15em;
  margin: 0.5em;
}

.allPosts .inputBox,
.newPost .inputBox,
.Home .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 40vw;
}

.allPosts .inputBox .inprogress,
.newPost .inputBox .inprogress,
.Home .inputBox .inprogress {
  width: 4.5em;
}

.allPosts .inputBox td,
.newPost .inputBox td,
.Home .inputBox td {
  padding-right: 0.7em;
  text-align: right;
}

.postsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 94vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.postBox {
  height: 20em;
  margin: 1em;
  padding: 1em;
  width: 16em;
}

.postBox .postContent {
  padding: 0% 10%;
  height: 15em;
  text-align: left;
}

.postBox .Title {
  text-align: center;
  color: #ffa4d6;
}

.postBox p, .postBox a {
  margin: 0.2em;
}

.postBox p:first-of-type {
  font-size: 1.2em;
  margin: 0.5em;
}

.postBox .postButtons {
  vertical-align: bottom;
}

.postBox .postButtons button {
  width: 5em;
  margin: 1em;
  padding: 0.3em;
  border-radius: 0.3em;
  border: none;
}

.postBox .postButtons button:hover {
  background-color: rgba(255, 164, 214, 0.644);
}

.editPost {
  position: relative;
  top: -2.8em;
  margin: auto;
  padding: 15px;
  width: 80%;
  text-align: center;
}

.editPost form > label {
  padding: 0em 1em;
}
/*# sourceMappingURL=App.css.map */